.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.bannerWrapper {
  position: relative;
  width: 95%;
  max-width: 1400px; /* Frame bự ra */
  border-radius: 20px;
  overflow: hidden;
}

.imageFrame {
  width: 100%;
  aspect-ratio: 16 / 6.5; /* Tỷ lệ giúp banner bự và thoáng */
  background: #f0f0f0;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.filterBar {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -0; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 10;
  align-items: flex-end;
  justify-content: center;
}

.filterItem {
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterIcon {
  height: 45px; 
  width: auto;
  object-fit: contain;
}

.filterItem:hover {
  transform: scale(1.05);
}


.filterItem.active {
  transform: scale(1.1);
}